{% block about %}
<section class="ftco-about img ftco-section ftco-no-pb" id="about-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 col-lg-5 d-flex">
                <div class="img-about img d-flex align-items-stretch">
                    <div class="overlay"></div>
                    <div class="img d-flex align-self-stretch align-items-center banner-about" style="background-image:url({{ url_for('static', filename='images/person-data.webp') }});">
                </div>
            </div>
        </div>
    <div class="col-md-6 col-lg-7 pl-lg-5 pb-5">
        <div class="row justify-content-start pb-3">
            <div class="col-md-12 heading-section ftco-animate">
                <h1 class="big">The Data</h1>
                <h2 class="mb-4">About</h2>
                <p>This dataset contains all flight information including cancellation and delays by airline for dates back to January 2018. We will use data from 2022.</p>
                <p class='text-center'>Target Variable: ArrDelay</p>
                <ul class="about-info mt-4 px-md-0 px-2">
                    <li class="d-flex"><span>Mean:</span> <span>{{ stats.mean }}</span></li>
                    <li class="d-flex"><span>STD:</span> <span>{{ stats.std }}</span></li>
                    <li class="d-flex"><span>Min Value:</span> <span>{{ stats.min }}</span></li>
                    <li class="d-flex"><span>25%:</span> <span>{{ stats.quant_25 }}</span></li>
                    <li class="d-flex"><span>50%:</span> <span>{{ stats.quant_50 }}</span></li>
                    <li class="d-flex"><span>75%:</span> <span>{{ stats.quant_75 }}</span></li>
                    <li class="d-flex"><span>Max Value:</span> <span>{{ stats.max }}</span></li>
                </ul>
            </div>
        </div>
        <div class="counter-wrap ftco-animate d-flex mt-md-3">
            <div class="text">
                <p class="mb-4">
                    <span class="number" data-number="38">0</span>
                    <span>Columns</span>
                </p>
                <p><a href="#" class="btn btn-primary py-3 px-3">Test Model</a></p>
            </div>
        </div>
    </div>
    </div>
    </div>
</section>
{% endblock %}