{% extends 'layout.html' %}
{% block title %}About the Dataset{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Column</th>
                <th scope="col">Description</th>
                <th scope="col">Type</th>
              </tr>
            </thead>
            <tbody>
                {% for column in col_dict %}
                
                    <tr>
                        <th scope="row">{column}</th>
                        <td>{col_dict[column]['name']}</td>
                        <td>{col_dict[column]['description']}</td>
                        <td>{col_dict[column]['type']}</td>
                    <tr>
                    
                {% endfor %}
            </tbody>
          </table>
    </div>
</div>

{% endblock %}