{% block exploratory_analysis %}
<section class="ftco-section ftco-no-pb" id="eda-section">
    <div class="container">
        <div class="row justify-content-center pb-3">
      <div class="col-md-10 heading-section text-center ftco-animate">
          <h1 class="big big-2">EDA</h1>
        <h2 class="mb-4">Exploratory Analysis</h2>
        <p>In the realm of data exploration, a vast landscape unfolds, where insights trickle like a babbling brook, nourishing the analytical mind with the essential elements of understanding. It is a realm of discovery, where fragments of information converge, forming a tapestry of knowledge that seamlessly weaves into the fabric of comprehension.</p>
      </div>
    </div>
    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-6 text-center ftco-animate">
            <p><a href="{{ url_for('eda_data') }}" class="btn btn-primary py-4 px-5" target='blank_'>More Information</a></p>
        </div>
    </div>
    <!-- CHECK IF IT'S USEFUL
        <div class="row">
            <div class="col-md-6">
                <div class="resume-wrap ftco-animate">
                    <span class="date">2014-2015</span>
                    <h2>Master Degree of Design</h2>
                    <span class="position">Cambridge University</span>
                    <p class="mt-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                </div>
                <div class="resume-wrap ftco-animate">
                    <span class="date">2014-2015</span>
                    <h2>Bachelor's Degree of C.A</h2>
                    <span class="position">Cambridge University</span>
                    <p class="mt-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                </div>
                <div class="resume-wrap ftco-animate">
                    <span class="date">2014-2015</span>
                    <h2>Diploma in Computer</h2>
                    <span class="position">Cambridge University</span>
                    <p class="mt-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="resume-wrap ftco-animate">
                    <span class="date">2014-2015</span>
                    <h2>Art &amp; Creative Director</h2>
                    <span class="position">Cambridge University</span>
                    <p class="mt-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                </div>
                <div class="resume-wrap ftco-animate">
                    <span class="date">2014-2015</span>
                    <h2>Wordpress Developer</h2>
                    <span class="position">Cambridge University</span>
                    <p class="mt-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                </div>
                <div class="resume-wrap ftco-animate">
                    <span class="date">2017-2018</span>
                    <h2>UI/UX Designer</h2>
                    <span class="position">Cambridge University</span>
                    <p class="mt-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                </div>
            </div>
        </div>
    -->
    </div>
</section>
{% endblock %}