{% block footer %}
<footer class="ftco-footer ftco-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">About the Data</h2>
            <p>This dataset contains all flight information including cancellation and delays by airline for dates back to January 2018. We will use data from 2022.</p>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
              <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4 ml-md-4">
            <h2 class="ftco-heading-2">Sections</h2>
            <ul class="list-unstyled">
              <li><a href="#"><i class="fas fa-home"></i> </span>Home</a></li>
              <li><a href="#"><i class="fas fa-info-circle"></i> </span>About</a></li>
              <li><a href="#"><i class="fas fa-chart-bar"></i> </span>Descriptive Analysis</a></li>
              <li><a href="#"><i class="fas fa-search"></i> </span>Exploratory Data Analysis</a></li>
              <li><a href="#"><i class="fas fa-users"></i> </span>The Team</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
           <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Tasks</h2>
            <ul class="list-unstyled">
                <li><a href="#"><i class="fa fa-question"></i> Problem Definition</a></li> <!-- Problem Definition icon -->
                <li><a href="#"><i class="fa fa-database"></i> Data Acquiring and Cleaning</a></li> <!-- Data Acquiring and Cleaning icon -->
                <li><a href="#"><i class="fa fa-chart-bar"></i> Data Analysis</a></li> <!-- Data Analysis icon -->
                <li><a href="#"><i class="fa fa-cogs"></i> Feature Engineering and Extraction</a></li> <!-- Feature Engineering and Extraction icon -->
                <li><a href="#"><i class="fa fa-cogs"></i> Build the model and optimize it</a></li> <!-- Build the model and optimize it icon -->
                <li><a href="#"><i class="fa fa-upload"></i> Deploy Model</a></li> <!-- Deploy Model icon -->
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Check our Profiles</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><a href="https://github.com"><i class="fab fa-github footer"></i> <span class="text"> @Diegomca98</span></a></li>
                  <li><a href="https://github.com"><i class="fab fa-github footer"></i> <span class="text"> @S4qk</span></a></li>
                  <li><a href="https://github.com"><i class="fab fa-github footer"></i> <span class="text"> @jose90fcm</span></a></li>
                </ul>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">

          <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}