{% extends 'layout.html' %}

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    {% block content %}
	
		{% block navbar %}
			{% include 'navbar.html' %}
		{% endblock %}

		{% block slider %}
			{% include 'slider.html' %}
		{% endblock %}

		{% block tasks %}
			{% include 'tasks.html' %}
		{% endblock %}

		{% block about %}
			{% include 'about.html' %}
		{% endblock %}

		{% block descriptive_analysis %}
			{% include 'descriptive-analysis.html'%}
		{% endblock %}

		{% block exploratory_analysis %}
			{% include 'eda.html' %}
		{% endblock %}
 
    {% block counter_data %}
      {% include "counter-data.html" %}
    {% endblock %}
    
    {% block team_info %}
		  {% include 'team.html' %}
	  {% endblock %}
		
	  {% block footer %}
		  {% include 'footer.html' %}
	  {% endblock %}
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
  
  
  
  {% endblock %}
  </body>
</html>