{% extends 'layout.html' %}
{% block title %}Inicio{% endblock %}

{% block image %}
<div class="row">
    <div class="col banner">
        <img src="{{url_for('static', filename = 'plane.jpg')}}" alt="Plane Landing" class="hero-section" width='100%'>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h1 class="text-center">
            Flight Status Predictions
        </h1>
        <h3 class="text-center gray">
            4Geeks Data Science and Machine Learning Final Project
        </h3>
    </div>
</div>

{% endblock %}