{% extends "layout.html" %}

  {% block content %}
  
  
    {% block navbar_data %}
      {% include "navbar-data.html" %}
    {% endblock %}

    {% block single_banner %}
      {% include "single-banner.html" %}
    {% endblock %}

    <section class="ftco-section">
      <div class="container">
          <div class="row mb-5 hyp-eda-data">
              <div class="col-md-1"></div>
              <div class="col-md-10 ftco-animate">
                  <div class="hyp-data p-4 bg-dark">
                      <div class="form-wrapper">
                          <h2 class="model-form text-center">Try Making a Prediction</h2>
                          <form action="{{ url_for('predict') }}" method="post" class="w-100">
                              <div class="row">
                                  <div class="col">
                                      <div class="form-group">
                                          <label for="origin_airport_ID">Traveling From Airport:</label>
                                          <select id="origin_airport_ID" name="origin_airport_ID" class="form-control">
                                            <option value="">Select an option</option>  
                                            {% for airport in airports_cities.values %}
                                              <option value="{{ airport[1] }}">{{ airport[2] }}</option>
                                            {% endfor %}
                                          </select>
                                      </div>
                                      <div class="form-group">
                                          <label for="dest_airport_ID">Traveling To Airport:</label>
                                          <select id="dest_airport_ID" name="dest_airport_ID" class="form-control">
                                            <option value="">Select an option</option>
                                            {% for airport in airports_cities.values %}
                                              <option value="{{ airport[1] }}">{{ airport[2] }}</option>
                                            {% endfor %}
                                          </select>
                                      </div>
                                      <div class="form-group">
                                          <label for="airline">Airline:</label>
                                          <select id="airline" name="airline" class="form-control">
                                            <option value="">Select an option</option>
                                            {% for airline in airlines.values %}
                                                <option value="{{ airline[0] }}">{{ airline[1] }} ({{ airline[0] }}) </option>
                                            {% endfor %}
                                          </select>
                                      </div>
                                      <div class="form-group">
                                          <label for="city">Trveling from City:</label>
                                          <select id="city" name="city" class="form-control">
                                            <option value="">Select an option</option>
                                            {% for airport in airports_cities.values %}
                                              <option value="{{ airport[3] }}">{{ airport[2] }}</option>
                                            {% endfor %}
                                          </select>
                                      </div>
                                    </div>
                                    <div class="col">
                                      <div class="form-group">
                                          <label for="distance">Distance:</label>
                                          <input type="number" step="any" name="distance" id="val4" class="form-control" required>
                                      </div>
                                      <div class="form-group">
                                          <label for="air_time">Expected Flight Duration:</label>
                                          <input type="number" step="any" name="f_duration" id="val5" class="form-control" required>
                                      </div>
                                      <div class="form-group">
                                          <label for="month">Month:</label>
                                          <select name="month" class="form-control">
                                            <option value="">Select an option</option>
                                            {% for month in months %}
                                              <option value="{{ month }}">{{ months[month] }}</option>
                                            {% endfor %}
                                          </select>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col text-center">
                                      <button type="submit" class="btn btn-primary">Predict</button>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
              <div class="col-md-1"></div>
          </div>
      </div>
  </section>
    
		
    {% block footer %}
      {% include 'footer.html' %}
    {% endblock %}

  {% endblock %}
    