{% extends "layout.html" %}

  {% block content %}
  
  
    {% block navbar_data %}
      {% include "navbar-data.html" %}
    {% endblock %}

    {% block single_banner %}
      {% include "single-banner.html" %}
    {% endblock %}

  <section class="ftco-section">
    <div class="container">
      <div class="row mb-5 hyp-eda-data">
        <div class="col-lg-4 visuals ftco-animate d-flex align-items-stretch">
          <div class='container container-visual'>
            <a href="{{ url_for('static', filename='graphs/' + visuals[0]) }}" class="zoomable">
              <img class="data-visual img-fluid" src="{{ url_for('static', filename='graphs/' + visuals[0]) }}" alt="{{visuals[0]}}">
            </a>
          </div>
        </div>
        <div class="col-lg-8 ftco-animate">
          <div class="hyp-data d-flex p-4 bg-dark">
            <div class="row plot-analysis">
              <h2 class="eda-title mb-3">Airlines Arrival Category</h2>
              <p>
                <ul>
                  <li>Most flights arrive slightly ahead of the scheduled time at their destination, while departures tend to be punctual.</li>
                  <li>A normal distribution is observed in the flight delay data, both in departures and arrivals.</li>
                  <li>Although some flights are recorded to arrive late, their quantity is minimal and not sufficient to consider them significantly tardy.</li>
                </ul>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-5 hyp-eda-data">
        <div class="col-lg-8 ftco-animate">
          <div class="hyp-data d-flex p-4 bg-dark">
            <div class="row plot-analysis">
              <h2 class="eda-title mb-3">Departure and Arrival Delay</h2>
              <p>
                <ul>
                  <li>The average flight duration is between 1 to 2 hours, with most flights covering distances of less than 2000 km.</li>
                  <li>A normal distribution is observed in flight delays, especially in those that experienced delays.</li>
                  <li>The majority of flights arrive within a range of 0 to 25 minutes after the estimated time.</li>
                </ul>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 visuals ftco-animate d-flex align-items-stretch">
          <div class='container container-visual'>
            <a href="{{ url_for('static', filename='graphs/' + visuals[1]) }}" class="zoomable">
              <img class="data-visual img-fluid" src="{{ url_for('static', filename='graphs/' + visuals[1]) }}" alt="{{visuals[1]}}">
            </a>
          </div>
        </div>
      </div>
      
      
      <div class="row mb-5 hyp-eda-data">
        <div class="col-lg-4 visuals ftco-animate d-flex align-items-stretch">
          <div class='container container-visual'>
            <a href="{{ url_for('static', filename='graphs/' + visuals[3]) }}" class="zoomable">
              <img class="data-visual img-fluid" src="{{ url_for('static', filename='graphs/' + visuals[3]) }}" alt="{{visuals[3]}}">
            </a>
          </div>
        </div>
        <div class="col-lg-8 ftco-animate">
          <div class="hyp-data d-flex p-4 bg-dark">
            <div class="row plot-analysis">
              <h2 class="eda-title mb-3">Categorical Variables 1</h2>
              <p>
                <ul>
                  <li>There is no pronounced concentration in any categorical variable, such as airlines or months, that significantly influences flight punctuality.</li>
                  <li>The distribution of flights throughout the day is balanced, with most flights scheduled in the morning and afternoon.</li>
                  <li>Both in arrivals and departures, the majority of flights arrive or depart earlier than scheduled.</li>
                </ul>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-5 hyp-eda-data">
        <div class="col-lg-8 ftco-animate">
          <div class="hyp-data d-flex p-4 bg-dark">
            <div class="row plot-analysis">
              <h2 class="eda-title mb-3">Categorical Variables 2</h2>
              <p>
                <ul>
                  <li>A linear correlation is observed between distance and flight time, indicating that longer flights tend to take more time.</li>
                  <li>There is no clear relationship between other variables, such as origin or destination, and flight punctuality.</li>
                </ul>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 visuals ftco-animate d-flex align-items-stretch">
          <div class='container container-visual'>
            <a href="{{ url_for('static', filename='graphs/' + visuals[2]) }}" class="zoomable">
              <img class="data-visual img-fluid" src="{{ url_for('static', filename='graphs/' + visuals[2]) }}" alt="{{visuals[2]}}">
            </a>
          </div>
        </div>
      </div>
      
      
      <div class="row mb-5 hyp-eda-data">
        <div class="col-lg-4 visuals ftco-animate d-flex align-items-stretch">
          <div class='container container-visual'>
            <a href="{{ url_for('static', filename='graphs/' + visuals[5]) }}" class="zoomable">
              <img class="data-visual img-fluid" src="{{ url_for('static', filename='graphs/' + visuals[5]) }}" alt="{{visuals[5]}}">
            </a>
          </div>
        </div>
        <div class="col-lg-8 ftco-animate">
          <div class="hyp-data d-flex p-4 bg-dark">
            <div class="row plot-analysis">
              <h2 class="eda-title mb-3">Numerical Variables Analysis and Relations</h2>
              <p>
                <ul>
                  <li>No clear relationship is identified between most variables and flight punctuality, except for distance and flight time.</li>
                  <li>There is a slight correlation between departure time and punctuality in arrival, although its impact is not significant.</li>
                </ul>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-5 hyp-eda-data">
        <div class="col-lg-8 ftco-animate">
          <div class="hyp-data d-flex p-4 bg-dark">
            <div class="row plot-analysis">
              <h2 class="eda-title mb-3">Heatmap Correlation Plot</h2>
              <p>
                <ul>
                  <li>There is no aeroline with a notably higher number of late arrivals compared to other defined categories.</li>
                  <li>Some airlines have a higher number of flights, but this may be attributed to their size and frequency of operation, and not necessarily to lower punctuality.</li>
                </ul>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 visuals ftco-animate d-flex align-items-stretch">
          <div class='container container-visual'>
            <a href="{{ url_for('static', filename='graphs/' + visuals[4]) }}" class="zoomable">
              <img class="data-visual img-fluid" src="{{ url_for('static', filename='graphs/' + visuals[4]) }}" alt="{{visuals[4]}}">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>    
		
    {% block footer %}
      {% include 'footer.html' %}
    {% endblock %}

  {% endblock %}
    