body {
    background-color: #87CEEB;
}

header.navbar {
    background: #000;
    color: #fff;
}

div.banner {
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 25em; /* Set height to viewport height */
    overflow: hidden;
}

div.banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto; /* Maintain aspect ratio */
}

.gray {
    color: lightgrey;
}